<!-- Start Animal Section -->
<div class="section">
	<div class="intro-card">
		<h1><i class="fas fa-bell"></i> Les derniers animaux signalés</h1>
		<a class="card-access" href="{{path("animal_create")}}">Acceder a la carte</a>
	</div>
	<div class="polaroids owl-carousel">
		{% for animal in animals %}
			<div class="card">
				<div class="card-picture">
					<img src="{{ asset('uploads/' ~ animal.image) }}" alt=""/>
				</div>
				<p>{{ animal.type.name|capitalize }}
					{{ animal.status }}
					à
					{{ animal.city|capitalize }}</p>
				<p>
					<i class="far fa-calendar-check"></i>
					Le
					{{ animal.createdAt.date|date("d/m/Y") }}</p>
				<button class"card-button">
					<a href="{{path("animal_view",{id : animal.id})}}">En savoir plus</a>
				</button>
			</div>
		{% endfor %}
	</div>
</div>
<!-- End Animal Section -->
