{# {{ form(formAnimal) }} #}
<div class="form">   
{{ form_start(formAnimal) }}

    {# Header for update  #}
    {% if app.request.get('_route') == 'animal_update' %}
    <div class="form-header">   
        <h2><i class="fas fa-exclamation-triangle"></i> Modifier le signalement</h2>        
    </div>
    {% endif %}

    {# Header for create #}
    {% if app.request.get('_route') == 'animal_create' %}
    <div class="form-header">   
        <h2><i class="fas fa-exclamation-triangle"></i> Signaler un animal</h2>        
    </div>
    {% endif %}

    <div class="form-content">   
        <p class ="instruction">Renseignements obligatoire *</p>
        <div>
            <span class ="instruction"> * </span>
            {{ form_widget(formAnimal.type) }}
        </div>
        <div class= "column">
            <p><span class ="instruction"> * </span>Identification :</p>
            {{ form_widget(formAnimal.identification) }}
        </div>

        <div class= "column">
            <p><span class ="instruction"> * </span> Statut :</p>
            {{ form_widget(formAnimal.status) }}  
        </div>

        
        <div class= "column">
            <p> <span class ="instruction"> * </span> Sexe :</p>
            {{ form_widget(formAnimal.sex) }}
        </div>

        <div>
            <p>Nom de l'animal :</p>
            {{ form_errors(formAnimal.name) }}
            {{ form_widget(formAnimal.name, {
                'attr': {
                    'placeholder': '2 caractéres minimum',
                }
            }) }}
        </div>

        <div>
            <p>Age de l'animal :</p>
            {{ form_errors(formAnimal.age) }}
            {{ form_widget(formAnimal.age, {
                'attr': {
                    'placeholder': 'Format numérique uniquement',
                }
            }) }}
        </div>

        <div>
            <p>Dans quel quartier/secteur ?</p>
            {{ form_errors(formAnimal.area) }}
            {{ form_widget(formAnimal.area, {
                'attr': {
                    'placeholder': 'Quartier / Secteur',
                }
            }) }}
        </div>

        <div>
            <p><span class ="instruction"> * </span> Dans quelle ville ?</p>

            {{ form_errors(formAnimal.city) }}
            {{ form_widget(formAnimal.city) }}
        </div>


        <div>
        <p><span class ="instruction"> * </span> Dans quel département ?</p>
        {{ form_widget(formAnimal.department) }}
        </div>

        <div>
          <p>Image de l'animal (Taille maximale autorisée 2 Mo ) </p>
            {{ form_errors(formAnimal.image) }}
            {{ form_widget(formAnimal.image)}}
        </div>               

        <div class="description">
        <p>Description de l'animal</p>
            {{ form_errors(formAnimal.description) }}
            {{ form_widget(formAnimal.description, {
                'attr': {
                    'placeholder': "Essayez d'être le plus précis possible dans la description de l'animal (collier ou non, état général, endroit etc...)"
                }}) }}
        </div>


     
        <div>
            {{ form_widget(formAnimal.envoyer, {
                'label': 'Envoyer',
                'attr': {
                    'type': 'submit'
                }
            }) }}
        </div>
    </div>
    



{{ form_end(formAnimal) }}
</div>