<!-- Start Comment -->
<div class="bloc-comment">
	<h1>Commentaires
		<i class="far fa-comments"></i>
	</h1>
	{% if comments is empty %}
		<p class="bottom-link">Il n'y a pas encore de commentaires sur cet article</p>
	{% endif %}
	{% for comment in comments %}
		<div class="solo-comment">
			<div class="user-info">
				<img class="avatar" src="{{ asset('images/LogoRond.png') }}" alt="avatar">
				<p><i class="fas fa-pencil-alt"></i> Publié par {{ comment.user.userName }}</p>
				<p><i class="far fa-clock"></i>Le{{ comment.createdAt|date("d/m/Y") }}</p>
			</div>
			<p class="bulle"><i class="far fa-comment-dots"></i></p>
			<div class="bloc-content">
				<div class="comment-content">
					<p>"{{comment.content|capitalize}}"</p>
				</div>
				<div class="interaction">
					<a title='Signaler' href="{{path ("comment_signal", {id: comment.id})}}"><p><i class="fas fa-exclamation"></i></p></a>
					{% if is_granted('ROLE_USER') %}
					{% if is_granted ('update', comment) %}
					<a title='Modifier' href="{{path ("comment_update", {id: comment.id})}}"><p><i class="fas fa-pen-nib"></i></p></a>
					{% endif %}
					{% if is_granted ('delete', comment) %}
					<a title='Supprimer' href="{{path ("comment_delete", {id: comment.id})}}"onclick="return confirm('Confirmez la suppression ?')"><p><i class="fas fa-trash-alt"></i></p></a>
					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	{% if app.user == false %}
		<p class="bottom-link">Pour réagir a cet article <a href="{{ path ('create_account') }}"> Inscrivez vous </a>
		ou
		<a href="{{ path ('app_login') }}">Connectez vous</a></p>
	{% endif %}

	{% if app.user %}
		<div class="solo-comment">
			<div class="user-info">
				<img class="avatar" src="{{ asset('images/LogoRond.png') }}" alt="avatar">
				<p><i class="fas fa-pencil-alt"></i> Publié par {{ app.user.username }}</p>
				<p><i class="far fa-clock"></i> Le {{ "now"|date(" d/ m/Y ") }}</p>
			</div>
			<p class="bulle">
				<i class="far fa-comment-dots"></i>
			</p>
			<div class="bloc-content">
				{{ form_start(formComment,{ 'attr': {
				'class': 'comment',
				} }) }}
				{{ form_end(formComment) }}
				</div>
			</div>
		</div>
	{% endif %}
</div>
