{# Start Article Content  #}

{% if app.request.get('_route') == 'articles__by_category' %}
<div class="article-list">
	<div class="header-article">
		<h1>Tout les articles de la catégorie {{category.name|capitalize}} </h1>
{% endif %}

{% if app.request.get('_route') == 'news' %}
<div class="article-list">
	<div class="header-article">
	<h1><i class="far fa-edit"></i>Tout les articles</h1>
	{% endif %}

		<div class="filter-btn">
			<p>
				<i class="fas fa-sort"></i>
				Filtrer par
			</p>
			<label class="dropdown">
				<div class="dd-button">Date</div>
				<input type="checkbox" class="dd-input" id="test">
				<ul class="dd-menu">
					<li>
						<a href="">le + récent en premier</a>
					</li>
					<li>
						<a href="">le + ancien en premier</a>
					</li>
				</ul>
			</label>
			<label class="dropdown">
				<div class="dd-button">Auteur</div>
				<input type="checkbox" class="dd-input" id="test">
				<ul class="dd-menu">
					<li>
						<a href="">le + récent en premier</a>
					</li>
					<li>
						<a href="">le + ancien en premier</a>
					</li>
				</ul>
			</label>
			<label class="dropdown">
				<div class="dd-button">Popularité</div>
				<input type="checkbox" class="dd-input" id="test">
				<ul class="dd-menu">
					<li>
						<a href="">les mieux noté en premier</a>
					</li>
					<li>
						<a href="">les moins bien noté en premier</a>
					</li>
				</ul>
			</label>
		</div>
	</div>
	{% for article in articles %}
		<div class=" article">
                <img src="{{ asset("uploads/" ~ article.image) }}" alt="{{ article.title}}">
			<div class="detail">
				{% for category in article.categories %}
                    <a class = "category-btn {{ category.name}} "href="{{ path("articles__by_category",{id: category.id}) }}">{{ category.name|capitalize }}</a></span>
            	{% endfor %}
				<h1>{{ article.title|capitalize  }}</h1>
				<p><i class="far fa-clock"></i> Publié le {{ article.createdAt.date|date("d/m/Y") }}</p>
				<p> Par <i class="far fa-user"></i> {{ article.user.username }}</p>
				<p> <i class="far fa-comments"></i>  {{ article.comments|length }} Commentaire(s)</p>
				<p>{{ article.content |slice(0, 500) }} ... </p>

				<a href="{{path("article_view",{slug : article.slug})}}" class="read-more">Lire la suite</a>
			</div>
		</div>
	{% endfor %}
	{{ knp_pagination_render(articles) }}
</div>
	{# End Article Content  #}
